<beans>
    <bean id="productRowMapper" class="com.bondarenko.onlineshop.dao.jdbc.mapper.ProductRowMapper"/>

    <bean id="userRowMapper" class="com.bondarenko.onlineshop.dao.jdbc.mapper.UserRowMapper"/>

    <bean id="сonnectionFactory" class="com.bondarenko.onlineshop.dao.jdbc.ConnectionFactory"/>

    <bean id="jdbcProductDao" class="com.bondarenko.onlineshop.dao.jdbc.JdbcProductDao">
        <property name="connectionFactory" ref="сonnectionFactory"/>
        <property name="productRowMapper" ref="productRowMapper"/>
    </bean>

    <bean id="jdbcUserDao" class="com.bondarenko.onlineshop.dao.jdbc.JdbcUserDao">
        <property name="connectionFactory" ref="сonnectionFactory"/>
        <property name="userRowMapper" ref="userRowMapper"/>
    </bean>

    <bean id="productService" class="com.bondarenko.onlineshop.service.ProductService">
        <property name="productDao" ref="jdbcProductDao"/>
    </bean>

    <bean id="userService" class="com.bondarenko.onlineshop.service.UserService">
        <property name="userDao" ref="jdbcUserDao"/>
    </bean>

    <bean id="securityService" class="com.bondarenko.onlineshop.security.SecurityService">
        <property name="userService" ref="userService"/>
    </bean>
</beans>